.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 10px #0000001a;
  border-radius: 10px;
  margin-bottom: 1rem;
  max-width: 343px;
  cursor: pointer;
  &-list {
    @include respond-up(ipad) {
      overflow: auto;
      height: calc(100vh - 555px);
    }
    &::-webkit-scrollbar {
      width: 10px;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background: $close;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      border-radius: 10px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
  &-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
  &-content {
    font-size: 14px;
    p {
      color: $stock-none;
      margin-bottom: 14px;
      position: relative;
      .label-open,
      .label-almost-close,
      .label-close {
        position: absolute;
        width: 4px;
        height: 1.5rem;
        border-radius: 0px 4px 4px 0px;
        left: -0.75rem;
        bottom: 0;
        transform: translateY(20%);
      }
      .label-open {
        background-color: $open;
      }
      .label-almost-close {
        background-color: $almost-close;
      }
      .label-close {
        background-color: $close;
      }
      .title,
      .subtitle {
        color: $primary;
        margin-right: 10px;
      }
      .title {
        font-weight: bold;
        // position: relative;
      }
      small {
        font-size: 11px;
      }
      a {
        font-size: 12px;
        color: $stock-none;
        text-decoration: underline;
        float: right;
      }
    }
  }
}
.mask {
  color: $white;
  border-radius: 10px;
  width: 48%;
  overflow: hidden;
  &-nums {
    strong {
      font-weight: bold;
      font-size: 2rem;
      line-height: 47px;
    }
    span {
      font-size: 0.75rem;
    }
  }
  &-info {
    position: relative;
  }
  &-icon {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 0;
    right: -18px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
